h1, p {
  font-family: Lato;
}
.App {
  text-align: center;
}
.page {
margin: 20px;
}
.interactions {
text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 2em;
  pointer-events: none;
}

.App-header {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: 400 14px CoreSans, Arial, sans-serif;

  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  color: #222;
  background: #f4f4f4;
  font: 400 14px CoreSans, Arial, sans-serif;
}
a {
  color: rgb(164, 179, 185);
}
a:hover {
  text-decoration: underline;
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #dddddd;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
}
button:hover {
  background: #0e0;
}
